In [ ]:
# range(start,final,step)
# for

In [ ]:
print('hello world')

In [ ]:
print('hello world '*10)

In [ ]:
print('hello world'*10)

In [ ]:
print('hello world\n'*10)

In [ ]:
for var in range(0,10,1):
    print('hello world')

In [ ]:
for i in range(0,10,1):
    print('hello world')

In [ ]:
for i in range(10):
  if i%2==0:
    print(i)

In [ ]:
for i in range(2,11,2):
    print(i)

In [ ]:
for i in range(10):
    if i%2 != 0:
        print(i)

In [ ]:
for i in range(1,11,2):
    print(i)

In [ ]:
t = int(input('Enter table number:'))
t_l = int(input('Enter table length:'))
for i in range(1,t_l+1):
    print('{} * {} = {}'.format(t,i,t*i))

In [ ]:
t = int(input('Enter table number:'))
t_l = int(input('Enter table length:'))
for i in range(1,t_l+1):
    print('{} * {} = {}'.format(t,i,t*i))

In [ ]:
# Factors of a number
n = int(input('enter number'))
for i in range(1,10):
    if n%i == 0:
        print(i)

In [ ]:
n = int(input('enter number'))
for i in range(1,n+1):
    if n%i == 0:
        print(i,end = ' ')

In [ ]:
n = int(input('enter number'))
f_s = 0
for i in range(1,n):
    if n%i == 0:
        f_s+=i
        print(i,end = ' ')
print('sum of factors :'f_s)
if f_s == n:
    print('perfect number')
else:
    print('not perfect number')

In [ ]:
n = int(input('enter factorial number:'))
fact = 1
for i in range(1,n+1):
    fact*=i#fact = fact*i
print(fact)

In [ ]:
#while loop
i=1
while i<10:
    print(i)
    i+=1

In [ ]:
#while loop
i=10
while i>0:
    print(i)
    i-=1

In [ ]:
# for loop
for i in range(10,0,-1):
    print(i)

In [ ]:
for i in range(10,0,-2):
    print(i)

In [ ]:
i=1
while i<10:
    print(i)
    i-=2

In [ ]:
i=1
while i<10:
    print(i)
    i+=1

In [ ]:
i=1
while i<10:
    i+=1
    if i == 4 or i == 2:
        continue
    print(i,end = ' ')

In [ ]:
def add(a,b):
    print(a+b)

In [5]:
c = add(3,4)
print(c)

NameError: name 'add' is not defined

In [7]:
# without arg and without return value
def add():
    num1 = int(input('enter num1:'))
    num2 = int(input('enter num2:'))
    print('sum of',num1,'and',num2,'is:',num1+num2)
add()

enter num1:2
enter num2:4
sum of 2 and 4 is: 6

In [11]:
# without arg with return value
def sub():
    n1 = 10
    n2 = 6
    return n1,n2,n1-n2
    
dif = sub()
print(dif)

(10, 6, 4)

In [1]:
# with arg and without return value
def mul(a,b):
    print(a*b)
mul(24,6)

144

In [3]:
# with arg and with return value
def div(a,b):
    return a,b,a+b,a-b,a/b
div(3,5)

(3, 5, 8, -2, 0.6)

In [7]:
# Default Arg:
def Default(a=10,b=20):
    return a+b
Default(56,343)

399

In [12]:
# required Arg:
def required(a,b,c=30):
    return a*b*c
required(24,6,10)

1440

In [17]:
# Variable length Arg:
def Var_len(a,*b):
    return a+sum(b)
Var_len(3,5,6,3,54,5434)

5505

In [3]:
# Keyword arg
def keyword(name,college):
    print('hello {} welcome to {}'.format(name,college))
keyword(college = 'Pace', name = 'jameela')

hello jameela welcome to Pace

In [7]:
def key(**name):
    print(name)
key(name = ['jameela','123','hello'])

{'name': ['jameela', '123', 'hello']}

In [25]:
def Is_prime(n):
    if n == 1:
        return False
    cnt = 0
    for i in range(2,n):
        if n%i == 0:
            cnt+=1
            break
    if cnt == 0:
        return True
    else:
        return False
Is_prime(4)

False

In [27]:
def prime_gen(s,e):
    for i in range(s,e+1):
        if Is_prime(i):
            print(i ,end = ' ')
s=int(input('enter the value'))
e=int(input('enter the value'))
prime_gen(s,e)

enter the value100
enter the value200
101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199